<div class='container mt-5'>
  <div class='row'>
    <div class='page-header'>
      <h1 class='text-center'>お問い合わせ</h1>
    </div>
    <div class='text-center mt-4'>
      <p>
        お問い合わせいただきありがとうございました。
      </p>
      <p><i class='far fa-envelope letter_icon'></i></p>
    </div>
  </div>
</div>
