/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 
 // 全体
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
 font-family:'游ゴシック体';
}

// 商品に関すること

.item_name{
 text-align:center;
}

.item_price{
 text-align:center;
}

.item_icon {
 margin-top:10px;
 width:260px;
 height:260px;
 object-fit:cover;
 border: 1px solid #000;  
}


// トップページの新着商品
.new_item_slide{
 margin-top:50px;
}

.slick-dots {
  li {
    font-size: 20px !important;
    button:before {
      content: "★" !important;
      font-size: 14px !important;
      color: rgb(60, 60, 60) !important;
    }
  }
}


.new_item{
 display:flex;
 margin-left:40px;
}

.new_item_photo{
  height: 250px;
  width : 250px;
  background-size: contain;
  border: 1px solid #000;
  object-fit: cover;
}

// トップページの商品一覧
.item_index{
 margin-top:50px;
}

.item_index_wrap{
 display:flex;
 flex-wrap: wrap;
 justify-content: center;
}


// 会員の詳細ページ
.profile_icon{
 border-radius:300px;
 border:1px solid #d3d3d3;
 padding:10px; 
 background-color:#fff;
}

.user_item_wrap{
  display: flex;
  flex-wrap: wrap;
  width: 800px;               
  height: 400px;               
  padding-left:10px;
}

.user_item {
  width:260px;
}


// 





#search-word{
 width:300px;
}





