/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

body{
 font-family:'游ゴシック体';
 
}


#search-word{
 width:300px;
}

.sold-out{
 color:red;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

.item {
  width:260px;
}

.item_name{
 text-align:center;
}

.item_price{
 text-align:center;
}

.profile_icon{
 border-radius:300px;
 border:1px solid #d3d3d3;
 padding:10px; 
 background-color:#fff;
}

.wrap{
  width: 800px;                /* 横幅を200pxに指定 */
  height: 400px;               /* 横幅を200pxに指定 */
  border: 1px solid #000;      /* わかりやすくボーダーを引く */
  overflow-y: scroll;          /* 縦方向にスクロール可能にする */
  padding-left:10px;
 
}

.item_icon {
 margin-top:10px;
 width:260px;
 height:260px;
 object-fit:cover;
 border: 1px solid #000;  
}