<footer class="bg-dark text-white pt-5 pb-4">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-md-1">
         <%= link_to image_tag("パンプキン (1).png", size: "80x80"), root_path, class: "image mt-2" %>
        </div>
        <div class="col-md-11">
          <ul class="list-group list-group-horizontal d-flex justify-content-around pt-4">
          <li class="text-light">特定商取引法に基づく表記</li>
          <li class="text-light">　プライバシーポリシー　</li>
          <li class="text-light">　  　サイトマップ　  　</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  