<% if genre.errors.any? %>
<div class='error_message mt-5'>
  <%= genre.errors.count %>件のエラーが発生しました<br/>
    <% genre.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  <% end %>
</div>