<% if item.errors.any? %>
<div class='error_message mt-5 text-center'>
  <%= item.errors.count %>件のエラーが発生しました<br/>
    <% item.errors.full_messages.each do |message| %>
      <div><%= message %></div>
    <% end %>
  <% end %>
</div>